<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <servlet>
         <servlet-name>ModelRunnerServlet</servlet-name>
         <servlet-class>ModelRunnerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
         <servlet-name>ModelRunnerServlet</servlet-name>
         <url-pattern>/run_model</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>WebFigures</servlet-name>
        <servlet-class>
        com.mathworks.toolbox.javabuilder.webfigures.WebFiguresServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WebFigures</servlet-name>
        <url-pattern>/WebFigures/*</url-pattern>
    </servlet-mapping>
</web-app>