<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<web-app>
	<!-- The <servlet> tag binds a Java class name to a Servlet name:
    	
    <servlet>
        <servlet-name>servlet_name</servlet-name>
        <servlet-class>class_name</servlet-class>
    </servlet>        
     -->

	<!-- The <servlet-mapping> tag binds a Servlet name to a url path inside
	     the web app root:

    <servlet-mapping>
        <servlet-name>servlet_name</servlet-name>
        <url-pattern>/url_path</url-pattern>
    </servlet-mapping>
    -->

    <servlet>
        <servlet-name>BlackScholes</servlet-name>
        <servlet-class>BlackScholes</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BlackScholes</servlet-name>
        <url-pattern>/BlackScholes</url-pattern>
    </servlet-mapping>

</web-app>
